nav {
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}

.section-title {
    color: #181818;
    text-align: center;
    font-family: Open Sans;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.nav-title {
    background-color: #181818;

    font-size: 45px;

    font-weight: 800;
    line-height: normal;

}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px
}

nav a {
    color: #474747;

    font-size: 20px;

    line-height: normal;
}

.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    border-radius: 5px;
    background: #FD6E0A;
    background-color: #FD6E0A;
    border: 0px;
    font-weight: 700;
    font-size: 20px;
    padding: 18px 35px 19px 36px;
}

/* header related styles */
.header {
    background-color: #FFF8F3;

    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, top left;
}

.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.banner .profile-picture {
    
    width: 500px;
}

.banner-greeting {
    color: #474747;

    font-size: 45px;

    font-weight: 600;
    margin-bottom: 0px;

}

.banner-title {
    color: #181818;

    font-size: 85px;

    font-weight: 700;
    margin-bottom: 20px;


}

.banner-paragraph {
    color: var #757575;

    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.banner-content {
    max-width: 500px;
}

/* maint section syles */
main{
max-width: 1140px ;
margin: 0px auto;
}

/* about section syles */
.about {
    border-radius: 10px;
    background: #FFF8F3;
    padding: 130px;
    margin: 130px;
    background-image: url(../images/IMG_20221206_231948.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    
}


.section-description{
    color: #757575;
text-align: center;
font-size: 18px;
}

.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about-info{
    text-align: center;
}
a{
    text-decoration: none;
}
a:hover{
    background-color: rgba(245, 127, 54, 0.547);
    color: white;
    transition: .5s;
}


/* skills style */
#what-i-do{
    padding: 30px 150px; 
}
.skill-container{
    display: flex;
    justify-content: space-around;
    gap: 24px;
}
.skill{padding: 30px;
text-align: center;

border-radius: 5px;
border-radius: 5px;
background: #FFF;
box-shadow: 0px 6px 50px 0px }
.skil{
    color:#757575;
font-family: Open Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 28px;
}
/* resume section styles */

resume-column-title{
   
    color:#474747;
    font-family: Open Sans;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.resume-container hr{
    display: flex;
    margin: 30px;

}
.download-CV{
 
    text-align: center;
  
    
}

footer {
    display: flex;
    gap: 100px;
    background: #FFF8F3;
    margin-top: 100px;
    padding: 130px 200px;
}

.footer-column {
    width: 100%;
}

.social-links a{
    margin-right: 25px;
}

.contact input[type="text"], .contact input[type="email"],
textarea {
    display: block;
    margin-bottom: 25px;
    padding: 18px 35px;
    color: #757575;
    border-radius: 5px;
    background: #FFF;
    border: 0;
    width: 100%;
}

@media screen and (max-width: 576px) {

    nav {
        display: flex;
        list-style: none;
        justify-content: space-between;
        align-items: center;
        margin: 0 200px;
        flex-direction: column;
    }

    ul{
        display: grid;
        flex-direction: column;
        margin: 5px;
        padding: 5px;
        text-align: center;
        
        
    }
    .banner-content{
        display: flex;
        flex-direction: column;
    }

    .banner, .banner-title{
     
        background-color: #ddd1d1a7;
        text-align: center;
            padding: 30px 15px 0px 15px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        
        }

    .profile-picture{
        display: flex;
        flex-direction: column;
        display: none;
    }
    .btn-primary{
        margin-bottom: 15px;

    }
    .about{
        display: none;
        align-items: start;
        width:30%;   }

        .skill-container{
           flex-direction: column;
           padding: 0px 25px;
           width: 90%;
        }
        section{
           
            padding: 20px 8px;
            flex-direction: column;
            display: flex;
        }
        
        .footer-container{
            display: flex;
        justify-content: center;
            padding: 0px 10px;
            width:100%;
           flex-direction: column;
          
          
          
         }
         footer {
            display: flex;
            gap: 100px;
            background: #FFF8F3;
            margin-top: 100px;
            padding: 13px 20px;
            text-align: center;
        }
         .footer-column{
           width: 100%;
            
         }
         #what-i-do{
            padding: 10px 15px; 
        }
         .contact input[type="text"], .contact input[type="email"],
         textarea {
             display: block;
             margin-bottom: 25px;
             padding: 18px 3px;
             color: #757575;
             border-radius: 5px;
             background: #16151549;
             border: 0;
             width: 100%;
         }
         .section-title {
            color: #e24949;
            text-align: center;
            font-family: Open Sans;
            font-size: 35px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
        nav>ul {
            display: flex;
            align-items: center;
            flex-direction: row;
        }
        .nav-title {
            background-color: #ffffffaa;
        
            font-size: 45px;
        
            font-weight: 800;
            line-height: normal;
            text-align: center;
        
        }
        .header {
            background-image: none;
        }
        
}